header {
  .header-inner{
    background-color: #fff;
    height: 60px;
    padding: 10px 20px;
    box-shadow: 0 2px 8px #f0f1f2;
    margin-bottom: 5px;
    // background: url('./images/header.jpg') no-repeat center;
    // background-size: cover;
  }
}