.about-page {
  display: flex;
  flex: 1;
  padding: 20px 100px;
  flex-direction: row;
  .introduce-myself {
    width: 200px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .38);
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  .skill-list {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    flex: 1;
    border: 1px solid #eee;
    padding: 20px;
    background-color: rgba(255, 255, 255, .38);
    border-radius: 4px;
  }
}